
<%provide(:title, 'About')%>

<h1>About Us</h1>

<p>This is an effort to teach <a href="https://rails-4-0.railstutorial.org">Ruby on Rails</a>with help this<a href="https://rails-4-0.railstutorial.org">Ruby on Rails</a> website</p>


