<%provide(:title, 'Help')%>
<h1>Help</h1>
<p><strong>This is help page for SConnect New user? <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %> <strong> </p>


